%font{ :face=>"Arial, Helvetica, Geneva, Sans-Serif", :color=>"#000000", :style=>"font-size: 11px;line-height: 15px;"}
  %br
  %a{:href=>@companyURL}
    %img{:src=>@companyLogo, :width=>20, :height=>26, :style=>"display:block", :border=>"0"}
  %font{:style=>"font-size: 13px;"}
    %strong{:style=>" padding-bottom: 3px; padding-top: 10px; display: block"}= params[:name]
  = params[:job_title]
  %font{:color=>@companyColor}
    |
  = @companyName
  %br ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  Phone:
  = @companyPhone
  %br
  Web:
  %a{:href=>@companyURL, :style=>"color:#0000ff;"}= @companyWeb
  %br
  Twitter:
  %a{:href=>@companyTwitterURL, :style=>"color:#0000ff;"}= @companyTwitter
  %br
  Join us on
  %a{:href=>@companyLinkedin, :style=>"color:#0000ff;"}  LinkedIn
  %br ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  %font{:style=>"font-size: 10px;"}
    = @office
    %br
    = @registered
    = @vat
  %br
